h1 {
  color: green;
  font-size: 3em;
}

.test-for-autoprefixer {
  width: 400px;
  height: 400px;
  background-color: #333;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space auround;
      -ms-flex-pack: space auround;
          justify-content: space auround;
}
